build_*/
ext_images/

.cproject
.project
.settings/

.atom-gdb.json
.build-tools.cson
.gdbinit
tags

# QNX Build Files
build/nto-aarch64-le/*
build/nto-x86_64-o/*
!build/nto-aarch64-le/Makefile
!build/nto-x86_64-o/Makefile
